version: 2
updates:
  - package-ecosystem: "gradle"
    directory: "/"
    schedule:
      interval: "yearly"
    groups:
      kotlin:
        patterns:
          - "*kotlin*"
      androidx:
        patterns:
          - "androidx*"
          - "*androidx*"
  
